/* NASA-TLX div */
.tlx-nav {
  text-align: center;
}
.tlx-nav button {
  font-size: 16px;
}
.hidden {
  display: none;
}
.nasa-tlx {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-size: 16px;
}
.nasa-tlx .tlx-section {
  margin-top: 40px;
}
.nasa-tlx .tlx-section-desc {
  float: right;
}
.nasa-tlx input {
  width: 100%;
  margin-top:30px;
}
.nasa-tlx .tlx-high-label {
  float: right;
}
.nasa-tlx .tlx-button-div {
  text-align:center;
}

/* Weights div */
#weights {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
  font-size: 16px;
}

#weights .scale-option {
  box-shadow: 2px 2px 10px black;
  width: 200px;
  height: 50px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#weights .scale-option:hover {
  background-color: #E8FDFF;
}

#weights #scale-option-1+div {
  margin-top: 40px;
}
#weight-input-ui, #weight-finish-ui {
  height:300px;
}

.tlx-button-div, .weights-button-div {
  margin-top: 50px;
  text-align: center;
}
.tlx-button-div button, .weights-button-div button {
  font-size: 16px;
}

#results {
  text-align: center;
}
#results textarea {
  margin-top: 50px;
  width: 500px;
  height: 600px;
}