html {
  height: 100%;
  width: 100%;
  margin:0;
}
body {
  /*background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;*/
  font-family: 'Open Sans', sans-serif;
  margin:0;
  height: 100%;
  width: 100%;
  overflow:hidden;
}
body.ws-error {
  background-color: #FFDDDD;
}

.task {
  height:100%;
  width:100%;
  cursor: url('img/crosshair.png') 25 25, default;
}

.start-button {
  top:0; bottom:0; right:0; left:30%;
  margin:auto;
}
.not-start-button {
  top:0; bottom:0; right:0; left:-30%;
  margin:auto;
}

.addition {
  text-align:center;
  /* vertcal center */
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:100px;
  /* Text */
  font-size: 100px;
}
.addition.correct {
  color: #0f0;
}
/* don't show addition problem in targeting-only trials */
body.targeting-only .addition {
  display:none;
}

.target {
  background-size: contain;
  width:128px;
  height:128px;
  position:absolute;
}

/* show enemy targets above friendly so if they overlap it's easy to click enemy */
.target.enemy {
  z-index: 1
}
.target.friend {
  z-index: 0
}

/* don't show start targets during the task */
.task.active .target.start-target {
  display: none;
}
/* don't show start targets during replay */
.task.replay .target.start-target {
  display: none;
}

/* don't show the extra start target for addition only tasks */
body.addition-only .target.not-start-button {
  display: none;
}

/* show targets as black by default in high difficulty*/
body.high-targeting-difficulty .target {
  background-image: url('img/target.png');
}
/* show targets as their normal colors in non-high-difficulty */
body:not(.high-targeting-difficulty) .target.friend {
  background-image: url('img/target-friend.png');
}
body:not(.high-targeting-difficulty) .target.enemy {
  background-image: url('img/target-enemy.png');
}

/* show green target when hovering over friend target*/ 
body.high-targeting-difficulty .target.friend:hover {
  background-image: url('img/target-friend.png');
}
/* show red target when hovering over enemy target */
.target.enemy:hover {
  background-image: url('img/target-enemy.png');
}

@-webkit-keyframes target-dismissal {
  0% { -webkit-transform: scale(1,1); }
  10% { -webkit-transform: scale(1.2, 1.2); }
  100% { -webkit-transform: scale(0,0); }
}
.target.dismissed {
  -webkit-animation-name: target-dismissal;
  -webkit-animation-duration: 0.2s;
  /* to stay at small scale at end of animation */
  -webkit-transform: scale(0,0);
}

@-webkit-keyframes target-timeout {
  from { -webkit-opacity: 1; }
  to { -webkit-opacity: 0; }
}
.target.timeout {
  -webkit-animation-name: target-timeout;
  -webkit-animation-duration: 0.2s;
  -webkit-opacity: 0;
}

@-webkit-keyframes shoot-animation {
  from { -webkit-transform: rotate(45deg) scale(1,1); }
  to { -webkit-transform: rotate(45deg) scale(0,0); }
}

.shot {
  width: 40px;
  height: 40px;
  background-image: url('img/crosshair.png');
  background-size: contain;
  -webkit-transform: rotate(45deg) scale(0,0);
  position: absolute;
  -webkit-animation-name: shoot-animation;
  -webkit-animation-duration: 0.5s;
}

.score {
  position:absolute;
  top:0px;
  right:0px;
  font-size: 28px;
  color: black;
}

@-webkit-keyframes score-increase {
  from { color: #0f0 }
  to { color: black; }
}
.increase {
  -webkit-animation-name: score-increase;
  /* TODO if this changes, change timer in score setter in TaskController */
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes score-decrease {
  from { color: #f00; }
  to { color: black; }
}
.decrease {
  -webkit-animation-name: score-decrease;
  /* TODO if this changes, change timer in score setter in TaskController */
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out
}

/* replay div in task div */

/* do not show replay ui unless we are in replay mode */
.task:not(.replay) .replay-ui {
  display:none;
}

/* show replay ui at the bottom of the screen */
.replay-ui .replay-controls{
  position:fixed;
  width:100%;
  bottom: 0;
  -webkit-box-sizing: border-box;
  padding-left:5px;
  padding-right:5px;
}

/* make the trial selection ui full width */
#replay-selection {
  display: inline-block;
}
/* make the expander div full width and force height */
#expand-bar {
  height: 10px;
  background-color: #E8E8E8;
  min-width: 100px;
}
#replay-select-lists.hidden {
  display:none;
}
/* put lists side by side */
.replay-select-list {
  display: inline-block;
}

.replay-ui .replay-time-slider {
  width: 100%;
}

#replay-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('img/crosshair.png');
  top: 0;
  left: 0;
  /* so setting top and left will actually put the middle at those values*/
  transform:translate(-25px, -25px);
  -webkit-transform:translate(-25px, -25px);
}

#replay-miss {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('img/miss.png');
  background-size: contain;
  top:0;
  left:0;
  /* so setting top and left will actually put the middle at those values*/
  transform:translate(-15px, -15px);
  -webkit-transform:translate(-15px, -15px);
}
/* draw boxes to indicate events in the iteration */
.indicator-bar {
  height:10px;
}
.indicator-bar div {
  width: 10px;
  height: 10px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}
/* draw red boxes to indicate when hits are in an iteration */
.hit-indicator {
  background-color: red;
}
/* draw green box to indicate when addition problem was finished */
.addition-indicator {
  background-color: green;
}
.miss-indicator {
  line-height: 10px;
}
.hover-indicator-enemy {
  background-color: red;
}
.hover-indicator-friend {
  background-color: green;
}

/* show green target when faking a hover during replay */
body.high-targeting-difficulty .target.friend.hover {
  background-image: url('img/target-friend.png');
}
/* show red target when faking a hover during replay */
body.high-targeting-difficulty .target.enemy.hover {
  background-image: url('img/target-enemy.png');
}


/* Settings div */
.settings {
  cursor: default;
  margin: 15px;
}
.settings label {
  margin-left: 15px;
}


/* NASA-TLX div */
.nasa-tlx {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.nasa-tlx .tlx-section {
  margin-top: 40px;
}
.nasa-tlx .tlx-section-desc {
  float: right;
}
.nasa-tlx input {
  width: 100%;
  margin-top:30px;
}
.nasa-tlx .tlx-high-label {
  float: right;
}
.nasa-tlx .tlx-button-div {
  text-align:center;
}

/* Weights div */
#weights {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
  /*box-shadow: 2px 2px 10px black;
  padding: 20px;*/
}

#weights .scale-option {
  box-shadow: 2px 2px 10px black;
  width: 200px;
  height: 50px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#weights .scale-option:hover {
  background-color: #E8FDFF;
}

#weights #scale-option-1+div {
  margin-top: 40px;
}